.single-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.single-page{
    width: 65%;
    margin-top: 0px!important;
}

.single-page-comment-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px){
    .single-page{
        width: 95%!important;
    }
}

@media screen and (min-width:1100px){
    .single-page{
        width: 90%!important;
    }
}

.loadingContainer{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}